div{
    display: flex;
    justify-content: start;
    justify-content: center;
    row-gap: 30px;
    column-gap: 40px;
    flex-wrap: wrap;
}

.images{
    height: 200px;
    width: 150px;
    border: 5px solid #FFFDD6;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0 0 5px black;

}

h1{
    text-align: center;
}

body{
    background-color: #FF5DA2;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: black;
}

.images:hover{
    background-color: #f8f9fa;
    transform: scale(1.5);
    box-shadow: 0 0 10px #9E7777;
    transition: all 0.5s ease;
    position: relative;
    border-radius: 0%;
}