@font-face {
    font-family: frank;
    src: url(UnifrakturCook.ttf);
}

*{
    margin: 0px;
    background-color: #E0C9A6;
}
body{
    margin: 20px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    margin: 3px;
}

hr {
    height: 2px;
    background-color: #000000;
    border: none;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    flex-wrap: wrap;
}
header > h1{
    font-family: frank;
    font-size: 70px;
    width: 70%;
    text-align: center;
}
#hlb{
    height: 100px;
    width: 14%;
    justify-content: center;
    display: flex;
    border: solid black 5px;
    font-family: 'Open Sans Condensed', sans-serif;
}
#hrb{
    height: 100px;
    width: 14%;
    justify-content: center;
    display: flex;
    border: solid black 5px;
    font-family: 'Open Sans Condensed', sans-serif;
}
#date{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 20px;
}

#top > h1{
     text-align: center;
     text-decoration: underline;
     
     font-size: 50px;
     font-family: 'Alfa Slab One', cursive;
}

#top > h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    text-align: center;
}
.flx{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#topleft{
    float: left;
    width: 59%;
    height: 300px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    border-right: solid transparent 2px;
}
#topright{
    float: right;
    width: 40%;
    height: fit-content;
    text-align: center;
    
    
}
.brdr{
    border: 2px black solid;
}

.trleft{
    float: left;
    width: 49%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    text-align: left;  
    margin-left: 5px;
}

.trrt{
    float: right;
    width: 49%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    text-align: left;
    display: block;  
    margin-left: 2px;
}


#trrit > img{
    margin-left: 15px ;
    margin-bottom: 15px;
}

.trhds{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    text-align: center; 
}
.btmbrdr{
    border-bottom: solid 2px black;
}

#btmlft{
    float: left;
    width: 20%;
    font-size: 15px;
    border: black solid 2px;
    margin: 2px;
}

#btmlft > h2 {
    font-family: 'Josefin Sans', sans-serif; 
    text-align: center;
}
#btmlft > h3 {
    font-family: 'Josefin Sans', sans-serif; 
    text-align: center;
}
#btmrt{
    width: 78.5%;
}

.btmplft{
    float: left;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 32%;
    margin-left: 2px;
}
.btmprt{
    float: right;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 32%;
    margin-left: 2px;
}

